body{
    background-color: rgb(0, 0, 0);
    color: rgb(105, 175, 132)
}




.chamada-texto{
    margin-right: 187px;
}


img{
    height: 250px;
}


.categoria-vídeos{
display: flex;
overflow-x:auto;
gap: 56px;
}